*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
  }
  
  .imagen-fondo {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  
.encabezado{
  top: 0; /* Ajusta la posición vertical según sea necesario */
  left: 0;
  position: absolute;
  color: #fff;
  margin-top: 200px;
  margin-left: 10%;
  margin-right: 60%;
}

.texto{
  padding-top: 10px;
}